<p id="notice"><%= notice %></p>

<p>
  <strong>Subcategory:</strong>
  <%= @subcategory.subcategory %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category[:category] %>
</p>

<% if current_user.is_admin %>
  <%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<% end %>
<%= link_to 'Back', subcategories_path %>
